<h1><%= @user.name %></h1>
<small>
  <%= @user.email %><br>
  <div class='js-items-count'>
    <%= pluralize(@user.items.count, 'task') %> to do!
  </div>
</small>
<br><br>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Complete</th>
        <th>Task</th>
        <th class="due-date">Due Date</th>
        <th>Description</th>
        <th>Days Left (Auto Delete)</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'items/item',locals: { user: @user }, collection: @items.select {|task| !(task.completed)} %>
    </tbody>
  </table>
</div>


<% if policy(Item.new).create? %>
  <%= render partial: 'items/form', locals: { user: @user } %>
<% end %>

<br><br>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Task</th>
        <th class="due-date">Completed</th>
        <th>Description</th>
        <th>Days Left (Auto Delete)</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'items/completed',locals: { user: @user }, collection: @items.select {|task| task.completed}, as: :item %>
    </tbody>
  </table>
</div>