<tr id="item-<%= item.id %>">
  <td><%= item.name %></td>
  <td class="due-date"><%= item.completion_date %></td>
  <td><%= item.description %></td>
  <td><%= link_to "", [user,item], method: :delete, remote: true, class: 'glyphicon glyphicon-remove', data: {confirm: 'Are you sure?' } %></td>
</tr>