<tr id="item-<%= item.id %>">
  <td><%= link_to "", complete_path(item), remote: true, class: 'glyphicon glyphicon-ok' %></td>
  <td><%= item.completed %> | <%= item.name %></td>
  <td class="due-date"><%= item.due_date %></td>
  <td><%= item.description %></td>
  <td><%= link_to "", [user,item], method: :delete, remote: true, class: 'glyphicon glyphicon-remove', data: {confirm: 'Are you sure?' } %></td>
</tr>